@font-face {
    font-family: Minecraft;
    src: url(Minecraftia-Regular.ttf);
}

img {
    width: 25vh;
}

#max {
    width: 15vw;
}

body {
    font-family: Minecraft;
    padding: 0;
    margin: 0;
    background-color: rgb(40, 40, 255);
}

h1 {
    font-size: 5vh;
}

h3 {
    font-size: 3vh;
}

button {
    font-family: Minecraft;
    max-height: 19px;
    top: 110;
    position: absolute;
}

a {
    color: #000000;
    text-decoration: none;
}

p {
    font-size: small;
}