@font-face {
    font-family: Minecraft;
    src: url(Minecraftia-Regular.ttf);
}

img {
    width: 25vh;
}

body {
    font-family: Minecraft;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 5vh;
}

h3 {
    font-size: 3vh;
}

button {
    font-family: Minecraft;
}